@(s3Bucket: String,accessKey : String,filename : String,acl: String,success_action_redirect: String,policy: String,signature: String)
@import bootstrap._

@main("Uplode") {
    <div data-bind="uploadViewModel">

            <form action="https://@s3Bucket+.s3.amazonaws.com/" method="post" enctype="multipart/form-data">
                <input type="hidden" name="key" value="@filename">
                <input type="hidden" name="AWSAccessKeyId" value="YOUR_AWS_ACCESS_KEY">
                <input type="hidden" name="acl" value="@acl">
                <input type="hidden" name="success_action_redirect" value="@success_action_redirect">
                <input type="hidden" name="policy" value="@policy">
                <input type="hidden" name="signature" value="@signature">
                <input type="hidden" name="Content-Type" value="">
                    File to upload to S3:
                <input name="file" type="file">
                <br>
                <input type="submit" value="Upload File to S3">
            </form>
        <p data-bind="s3Bucket"></p>>
    </div>


    <!--<script language = "javascript" lang="javascript" src ='@routes.Assets.at("javascripts/app.js")'></script>-->

}